@import "../../Assets/styles/_color";

ul.cart__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 18px;
  grid-row-gap: 21px;

  & li {
    position: relative;
    max-width: calc((90vh - 52px * 2) / 3);
    max-height: 382px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border: 1px solid $text_color_2;
    border-radius: 7px;


    overflow: hidden;

    @media screen and (max-width: 1200px) {
      max-width: calc((94vh - 104px) / 3);
      margin: 0;
      grid-row-gap: 16px;
    }

    & a {
      display: block;

      & .content {
        position: relative;
        max-height: 314px;
        height: calc((88vh - 52px * 2) / 3);

        @media screen and (max-width: 1200px) {
          height: calc((90vh - 104px) / 3);
        }

        & .name {
          position: absolute;
          left: 0;
          bottom: -13px;

          display: flex;
          align-items: center;

          color: $text_color_2;

          font-family: Manrope, cursive;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;

          padding: 0 25px;

          height: 57px;

          background: $white;
          z-index: 9;

          @media screen and (max-width: 1200px) {
            font-size: 16px;
            height: 44px;
          }

        }

        & img {
          position: absolute;
          top: 0;

          width: 100%;

          object-fit: cover;
          object-position: top;
        }
      }

      & .link {

        position: relative;

        padding: 22px;

        display: flex;
        align-items: center;

        font-family: Roboto, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        color: $text_color;
        background: $white;
        z-index: 9;

        @media screen and (max-width: 1200px) {
          padding: 10px;
        }

        &:before {
          content: " ";
          position: absolute;
          max-width: 20px;
          height: 12px;
          width: 100%;
          left: 97px;
          background: url("../../Assets/image/button_next.svg") no-repeat;
          background-size: cover;
          @media screen and (max-width: 1200px) {
            left: 84px;
          }
        }

      }

    }
  }
}