@import "../../Assets/styles/_color";

main{
  //margin-top: 155px;
  position: relative;
  overflow: hidden;
  z-index: 99;
  & .container{
    height: 100%;
    & h2{
      position: relative;
      left: 0;
      right: 0;
      width: 100%;
      padding: 0 0;
      background: #fff;
      z-index: 99;
      color: $background_footer;
      font-family: 'Thesignature', cursive;
      font-size: 96px;
      line-height: 80px;
      font-style: normal;
      font-weight: 400;

      @media screen and (max-width: 1200px) {
        line-height:64px;
        font-size: 76px;
        height: 62px;
      }
    }

    & .qubea__list{

      &-background{
        position: fixed;
        bottom: calc((26vh + 10px) / 2);
        right: 50px;

        color: $background_footer;

        opacity: .2;

        font-family: 'Thesignature', cursive;
        font-size: calc((56vw + 66px) / 2);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: calc((88vw + 66px) / 2);
        max-height: calc((82vh - 66px) / 2);
        z-index: -1;
      }
    }
  }
}