@import "../../Assets/styles/_color";

main{
  padding-top: 155px;
  & .container{
    & h2{
      position: fixed;
      left: 0;
      right: 0;
      width: 100%;
      padding: 0 50px;
      background: #fff;
      top: 76px;
      z-index: 99;
      color: $background_footer;
      font-family: 'Thesignature', cursive;
      font-size: 96px;
      line-height: 80px;
      font-style: normal;
      font-weight: 400;
    }

    & .qubea__list{

      &-background{
        position: fixed;
        bottom: 80px;
        right: 50px;

        color: $background_footer;

        opacity: .2;

        font-family: 'Thesignature', cursive;
        font-size: 400px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        z-index: -1;
      }
    }
  }
}