@import "../../Assets/styles/_color";

header{
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 999;
  background: #fff;
  border-bottom: 1px solid $background_footer;

  & .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;

    & p{
      color: $text_color;
      font-family: Manrope, serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}